
@font-face{
  font-family: "Effort";
  src: url('../fonts/Effort.eot') format('embedded-opentype'),
  url('../fonts/Effort.otf') format('opentype');
}

.navbar {
    overflow: hidden;
    background-color: #C39488;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 90px;
    opacity: .9;
}

#title{
  font-family: Effort;
  color: white;
  font-size: 50px;
}
/* Intro Paragraph */
#introparagraph{
  margin-left: 60px;
}

#leadershipparagraph{
margin-right: 60px;
margin-left: 60px;
}

#smallsatlab{
  margin-right: 60px;
  margin-left: 60px;
}

/* Projects Paragraph*/
#projects{
  margin-left: 60px;
}

#menu{
  color: white;
  text-align: center;
  font-size: 15px;
}

/* Body */
body{
  font-size: 17px;
  color: #7f7f7f;
  font-family: Georgia, Times, "Times New Roman", serif;
  /*background-image: url("../home/src img/header3.png");*/
  background-repeat: no-repeat;
  background-size: 100% 100px;
  margin: 0; padding: 0;
}

/* Header 1 */
h1 {
  margin-left: 60px;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 45px; 
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px;
  color: #3c3c3c;
  text-decoration: none;
}

h2{
  font-size: 20px;
  color: #7f7f7f;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin-left: 60px;
}

h3{
  font-family: Effort;
  font-size: 45px;
  margin-left: 60px;
  opacity: .9;
}

/* List */
ul{
  margin-left: 60px;
}

/* Link */
a{
  color: #7f7f7f;
  background-color: transparent;
  text-decoration: none;
}

/* Link */
a:hover{
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
.header {
height:50px;
background: #000000;
border:1px solid #CCC;
width:960px;
margin:0px auto;
}
.content {
width:960px;
background: #000000;
border: 1px solid #CCC;
height: 2000px;
margin: 20px auto;
}

a.menulinks{
  color: #F3E9E7;
}

a.menulinks:hover{
  color: #FFFFFF;
}

a.imgs:hover{
  opacity: 0.7;
}

/* Collapsable Block */

label {
  display: block;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #7f7f7f;
}
label:hover {
    opacity: 0.7;
    cursor: pointer;
}
label::before {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 15px;
  content: url("src img/dropdownbulletunchecked.png" );
  transform: scale(.1);
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  background: white;
  color: #7f7f7f;
  overflow: scroll;
}

section {
  padding: 0 20px;
}
#cppdrop:checked ~ #expand {
  height: 500px;
}
#cppdrop:checked ~ label::before {
  content: url("src img/dropdownbulletchecked.png");
  transform: scale(.1);
}
#javadrop:checked ~ #expand {
  height: 650px;
}
#javadrop:checked ~ label::before {
  content: url("src img/dropdownbulletchecked.png");
  transform: scale(.1);
}
#ssrldrop:checked ~ #expand {
  height: 530px;
}
#ssrldrop:checked ~ label::before {
  content: url("src img/dropdownbulletchecked.png");
  transform: scale(.1);
}
#interndrop:checked ~ #expand {
  height: 630px;
}
#interndrop:checked ~ label::before {
  content: url("src img/dropdownbulletchecked.png");
  transform: scale(.1);
}
#otherdrop:checked ~ #expand {
  height: 300px;
}
#otherdrop:checked ~ label::before {
  content: url("src img/dropdownbulletchecked.png");
  transform: scale(.1);
}

main {
  background: white;
  width: 90%;
  margin: 20px auto;
  padding: 10px 0 20px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  font-family: Georgia, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 20;
  color: #7f7f7f;
}
#dropdown{
  font-size: 17px;
  color: #7f7f7f;
  font-family: Georgia, Times, "Times New Roman", serif;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C39488;
    color: white;
    opacity: .8;
    text-align: center;
    height: 70px;
}
