/* Intro Image */
#intro{
  posistion: absolute;
  width: 300px;
  padding: 10px 10px 0px 40px;
}

/* Portrait Image */
#me{
  posistion: absolute;
  float: right;
  width: 350px;
  padding: 50px 60px 60px 20px;
}

/* LinkedIn Image */
#lin{
  posistion: absolute;
  width: 40px;
  padding-left: 60px;
}

/* Github Image */
#gh{
  posistion: absolute;
  width: 45px;
}

/* Mail Image */
#mail{
  posisiton: absolute;
  width: 44px;
  padding-left: 5px;
}

/* Resume Image */
#res{
  posistion: absolute;
  width: 48px;
}

/* Arcade Image */
#arcade{
    posistion: absolute;
    padding-left: 80px;
    width: 800px;
}

/* Breakout Image */
#breakout{
    posistion: absolute;
    padding-left: 80px;
    width: 590px;
}

/* Reversi Image */
#reversi{
    posistion: absolute;
    padding-left: 50px;
    width: 270px;
}

#gallery{
  posistion: absolute;
  padding-left: 80px;
  width: 500px;
}

#lists{
  posistion: absolute;
  padding-left: 10px;
  width: 550px;
}

#lists2{
  posistion: absolute;
  padding-left: 10px;
  width: 500px;
}

#mines{
  posistion: absolute;
  padding-left: 10px;
  width: 600px;
}
#mines2{
  posistion: absolute;
  padding-left: 10px;
  width: 385px;
}
#reversinogui{
  posistion: absolute;
  padding-left: 80px;
  width: 500px;
}
#matrix{
  posistion: absolute;
  padding-left:10px;
  width: 415px;
}
#matrix2{
  posistion: absolute;
  padding-left: 10px;
  width: 600px;
}
#shell1{
  posistion: absolute;
  padding-left:10px;
  width: 590px;
}
#shell2{
  posistion: absolute;
  padding-left: 10px;
  width: 489.5px;
}

#smallsatimg{
  posistion: absolute;
  padding-left: 60px;
  width: 440px;
}

#sat{
  posistion: absolute;
  padding-left: 70px;
  width: 200px;

}
#coursework{
  posistion: absolute;
  padding-left: 50px;
  width: 290px;
}

#courses{
  posistion: absolute;
  width: 800px;
}

#resources{
  posistion: absolute;
  padding-left: 50px;
  width: 270px;
}

#git{
  posistion: absolute;
  padding-left: 50px;
  width: 175px;
}

#email{
  posistion: absolute;
  padding-left: 50px;
  width: 230px;
}

#l{
  posistion: absolute;
  padding-left: 60px;
  width: 175px;
}

#r{
  posistion: absolute;
  padding-left: 70px;
  width: 170px;
}

#contacts{
  posistion: absolute;
  padding-left: 70px;
  width: 175px;
}

#bottom{
  posistion: absolute;
  width: 100%;
  height: 60px;

}
