
/* Intro Paragraph */
#introparagraph{
  margin-left: 60px;
}

#leadershipparagraph{
margin-right: 60px;
margin-left: 60px;
}

#smallsatlab{

  margin-right: 60px;
  margin-left: 60px;

}
/* Projects Paragraph*/
#projects{
  margin-left: 60px;
}

#menu{
  color: white;
  opacity: .8;
  text-align: center;
  font-size: 15px;
}

/* Body */
body{
  font-size: 17px;
  color: #7f7f7f;
  font-family: Georgia, Times, "Times New Roman", serif;
  background-image: url("src img/header3.png");
  background-repeat: no-repeat;
  background-size: 100% 100px;
}

/* Header 1 */
h1 {
  margin-left: 60px;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 26.4px;
  color: #3c3c3c;
  text-decoration: none;
}

h2{
  font-size: 20px;
  color: #7f7f7f;
  font-weight: 400;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin-left: 60px;
}

/* List */
ul{
  margin-left: 60px;
}

/* Link */
a{
  color: #7f7f7f;
  background-color: transparent;
  text-decoration: none;
}

/* Link */
a:hover{
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
.header {
height:50px;
background: #000000;
border:1px solid #CCC;
width:960px;
margin:0px auto;
}
.content {
width:960px;
background: #000000;
border: 1px solid #CCC;
height: 2000px;
margin: 20px auto;
}

a.menulinks{
  color: #F3E9E7;
}

a.menulinks:hover{
  color: #FFFFFF;
}

a.imgs:hover{
  opacity: 0.7;
}

/* Collapsable Blocks */

label {
  display: block;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #7f7f7f;
}
label:hover {
    opacity: 0.7;
    cursor: pointer;
}
label::before {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 15px;
  content: url("src img/dropdownbulletunchecked.png" );
  transform: scale(.1);
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  background: white;
  color: #7f7f7f;
}
section {
  padding: 0 20px;
}

.content2{


}

.cpp{
  background-color: #0000;
  color: #7f7f7f;
  cursor: pointer;
  padding: 10px;
  width: 70%;
  text-align: center;
  font-family: Snell Roundhand, Times, "Times New Roman", serif;
  outline: none;
  font-size: 25px;
  font-weight: 100;
  margin: 0 50px 0 210px;
}
/* Style the button that is used to open and close the collapsible content */
.content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: hidden;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #0000;
  color: #7f7f7f;
  cursor: pointer;
  padding: 10px;
  width: 70%;
  text-align: center;
  font-family: Snell Roundhand, Times, "Times New Roman", serif;
  outline: none;
  font-size: 25px;
  font-weight: 100;
  margin: 0 50px 0 210px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  opacity: .7;
}
.collapsible:after {
    content: url("src img/dropdownbulletunchecked.png" );
    transform: scale(.2);
    font-size: 13px;
    color: white;
    float: none;
    margin-left: 20px;
}

.active:after {
  content: url("src img/dropdownbulletchecked.png");
  color: white;
  transform: scale(.2);
}
